body{
    width: 100%;
    height: 100%;
}

.nav{
    background-color: #646464;

}

.btn1{
    width: 130px;
    height: 40px;
    /* padding:  6px 19px 15px 18px; */
    margin: 6px 10px 8px 580px;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(55, 128, 138, 0.8);
    justify-content: center;
}

.btn1_text{
    
    width: 70px;
    height: 13px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: right;
    color: #fff;

}

.btn2{
  width: 199px;
  height: 40px;
  margin: 6px 28px 8px 10px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.btn2_text{
    width: 128px;
  height: 13px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}

.text{
    color: #fff;}

.btn3{
    width: 83px;
    height: 40px;
    margin: 6px 10px 8px 35px;
    padding: 6px 22px 13px;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(55, 128, 138, 0.8);
}

.btn3_text{
    width: 39px;
  height: 17px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}

.btn4{
    width: 199px;
    height: 40px;
    margin: 6px 0 8px 10px;
    padding: 6px 18px 13px 22px;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(55, 128, 138, 0.8);
}

.btn4_text{
    width: 121px;
    height: 15px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
}
.main{
    width: 100%;
}

.Middle{
    /* text-align: center; */
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prices{
    text-align: center;
}
.Prices {
    width: 98px;
    height: 27px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
  }
  
.sep{
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 20px;
}
.separator{

  width: 24px;
  height: 25px; 
  /* margin: 18px 8px 42px; */
  margin-left: 15px;
  margin-right: 15px;
}


.one{
    width: 50px;
    /* margin-left: 550px; */
  }

  .two{
    width: 50px;

  }

  .car{
    text-align: center;
    margin: auto;
    margin-top: 30px;
  }

.card{
  width: 100%;
  height: 304px;
  text-align: center;
}
.One-Time {
    width: 119px;
    height: 21px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: center;
    color: white;
  }

.head{
    width: 553px;
  height: 59px;
  margin: 0 0 29px;
  padding: 18px 217px 20px;
  background-color: #1d7a8c;
}

.title{
    display: flex;
    flex-direction: row;
    margin-left: 209px;
    
}

.hr {
    width: 93px;
    height: 36px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: center;
    color: #646464;
  
   
  }
  
  .hr .text-style-1 {
    font-size: 48px;
    font-weight: bold;
  }

.cur{
    width: 31px;
  height: 36px;
}

.para{
    display: flex;
    flex-direction: column;
    margin-top:25px;
}

.one_para{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-bottom: 10px;
}

.forma1{
    width: 25px;
    height: 24px;
    object-fit: contain;

  }

  .Lower-prices{
    width: 100%;
    height: 15px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
    margin-left: 15px;
  }

.mid
{
  width: 100%;
  height: 1px;
  margin: auto;
  color: #646464;
  margin-bottom: 50px;
  margin-top: 60px;
}
.body{
    width: 100%;
}
.mid1{
    margin: auto;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content_1{
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 20px;
}

.img1{
    width: 37px;
    height: 48px;
    object-fit: contain;
    margin: auto;
}

.Inside-cabinets {
    width: 107px;
    height: 12px;
    margin-top: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #646464;
  }

  .-minutes {
    width: 90px;
    height: 14px;
    margin-top: 17px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #1d7a8c;
  }

  .Ellipse-667 {
    width: 108px;
    height: 108px;
    padding: 30px 35px 30px 36px;
    border: solid 1px #b0c9ce;
    border-radius: 50%;
  }


  .mi{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    padding-top: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 50px;
  }
  .What-we-include-in-cleaning {
    width: 100%;
    height: 34px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin: auto;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
  }

.pict{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pict1{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.gr{
    width: 100%;
    height: 210px;
    margin: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.Bedroom-and-Living-Room {
    
    width: 100%;
    height: 19px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color:#4f4f4f;
    margin-bottom: 15px;
  }

.grp{
   margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}
.last{
  margin-top: 30px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 30px;
}

.las{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.las img{
  width:100%;
  height: 236px;
 margin-right: 0%;
 margin-left: 0%;
 padding-right: 0%;
 padding-left: 0%;
  object-fit: contain;
}

.las_one{
  display: flex;
  flex-direction: column;
  margin-right: 0px;
}


.las_two{
  display: flex;
  flex-direction: column;
}

.Experienced-and-vetted-professionals {
  width: 100%;
  height: 19px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: right;
  color: #646464;
}

.dominate-the-industry-in-scale-and-scope-with-an-adaptable-ext {
  width:100%;
  height: 54px;
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #646464;
}

.Dedicated-customer-service {
  width: 100%;
  height: 15px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: right;
  color: #646464;
}

.to-our-customers-and-are-guided-in-all-we-do-by-their-needs-Th {
  width:100%;
  height: 54px;
 
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #646464;
}


.newspaper{
  text-align: center;
  margin-top: 40px;
}

.GET-OUR-NEWSLETTER {
  width: 190px;
  height: 13px;
   margin-top: 30px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #353548;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rect7{
  width: 533px;
  height: 40px;
  margin: 20px 11px 53px 580px;
  padding: 1px 100px 16px 20px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}

.rect8{
  width: 88px;
  height: 40px;
  margin: 20px 614px 53px 11px;
  padding: 1px 21px 16px 23px;
  border-radius: 20px;
  background-color: #ff7b6d;
}

.Your-Email {
  width: 80px;
  height: 10px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: 15px;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: left;
  color: #565656;
}

.Submit {
  width: 44px;
  height: 11px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: 15px;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}


/* Footer */

#footer{
  width: 100%;
  height: 195px;
  margin: 0px;
  padding: 27px 120px 22px;
  background-color: #111;
 
}

.footer{
  display: flex;
  flex-direction: row;
}
.footer .large{
  width: 106px;
height: 78px;
margin: 0 262px 26px 2px;
}

.con{
  width:100%;
  height: 12px;
  margin: 32px 100px 54px 40px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: 20px;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #f1f1f1;
  word-spacing: 40px;
}



.f{
  width: 9px;
  height: 18px;
  margin: 34px 0px 54px 100px;
}

.i{
  width: 9px;
  height: 18px;
  margin: 34px 0px 54px 10px;
}

.rect9{

width:100%;
height: 1px;
margin-top: 10px;
background-color: #424242;
margin-bottom: 10px;
}

.help{
text-align: center; 
}

.-Helperland-All-rights-reserved-Terms-and-Conditions {
  width: 100%;
  height: 14px;
  margin: 5px 300px 0 270px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.-Helperland-All-rights-reserved-Terms-and-Conditions .text-style-1 {
  color: #fff;
}